 <header></header>
 
 <main class="page-container">
        <div class="robo-image">

            <img class="robo-image" src="imgs/Robo-gpt.jpg" alt="Robo GPT">

        </div>

        <div class="login-container" [formGroup]="loginForm">
            <img src="imgs/Chat.jpg" alt="Logo">
            <h1 class="titulo">Login</h1>

            <input class="inpt" type="email" placeholder="Insira o e-mail" formControlname="email">
            <input class="inpt" type="password" placeholder="Insira a senha" formControlname="password">

            <button class="button" (click)="onLoginClick()">Entrar</button>


        </div>

   </main>
    
   <footer></footer>
