 <header></header>
 
 <main class="page-container">
        <div class="robo-image">

            <img class="robo-image" src="imgs/new-user.jpg" alt="Robo GPT">

        </div>

        <div class="login-container" [formGroup]="newForm">
            <img src="imgs/Chat.jpg" alt="Logo">
            <h1 class="titulo">Novo Usuário</h1>

            <input class="inpt" placeholder="Insira o nome do Usuário" formControlName="name">           
            <span class="login-alert">{{nameErrorMessage}}</span>
            
            <input class="inpt" type="email" placeholder="Insira o e-mail" formControlName="email">
            <span class="login-alert">{{emailErrorMessage}}</span>
            <span class="login-alert">{{emailErrorMessage2}}</span>

            <input class="inpt" type="password" placeholder="Insira a senha" formControlName="password">
            <span class="login-alert">{{passwordErrorMessage}}</span>
            <span class="login-alert">{{caracPassword}}</span>

            <input class="inpt" type="password" placeholder="Confirme a senha" formControlName="password2">
            <span class="login-alert">{{password2ErrorMessage}}</span>
            <span class=" login-alert">{{correctPassword}}</span>

            <button class="button" (click)="onEnterClick()">Entrar</button>

            <a href="/login">Clique aqui para fazer o login</a>



        </div>

   </main>
    
   <footer></footer>
